// Normally mainpage styles
.section
	position: relative
	max-width: 1200px
	min-width: 960px
	width: 100% 
	height: 832px
	margin: 0 auto
	padding-bottom: 155px
	transition: opacity 1000ms, visibility 1000ms
	visibility: hidden
	opacity: 0
	+vertical
	text-align: left
	overflow: hidden
	&.nav
		visibility: visible
		opacity: 1
	&.section_view
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
	&.main
		.section__wrap
			background: url("../img/main-bg.jpg")
			+cover
	&.instance
		.section__wrap
			background: url("../img/instance-bg.jpg")
			+cover
	&.weapon
		.section__wrap
			background: url("../img/weapon-bg.jpg")
			+cover
	&.is-active
		visibility: visible
		opacity: 1
	.section__top
		position: absolute
		top: 0
		left: 0
		right: 0
		padding: 55px 35px 0 45px
		text-align: center
		z-index: 9
		+clr
	.section__wrap
		display: inline-block
		vertical-align: top
		width: 100%
		height: 676px

.aside
	position: absolute
	top: 215px
	left: 0
	width: 360px
	padding-left: 70px
	z-index: 9
	
.btn
	position: relative
	display: block
	cursor: pointer
	opacity: 0.5
	.btn__inn
		display: inline-block
		vertical-align: middle
		margin: 9px
		text-align: center
		+s(border_2)
		span
			display: inline-block
			vertical-align: middle
			margin: 23px 0 5px
		p
			display: inline-block
			vertical-align: middle
			color: #FFF
			font-size: 46px
			font-weight: 700
			line-height: 1.77
			+phil 
	.p
		display: inline-block
		vertical-align: middle
		margin-left: 10px
	&:hover
		opacity: 1
	&.is-active
		opacity: 1
		.btn__inn
			margin: 0
			+s(btn-bg) 
			p
				color: #9F937A 
				line-height: 2.17
			span
				margin-top: 30px
		&.btn_instance
			.btn__inn
				span
					margin-top: 30px
					+s(ins_2)
		&.btn_weapon
			.btn__inn
				span
					margin-top: 33px
					+s(eq_2)
	&.btn_instance
		.btn__inn
			span
				margin-top: 21px
				+s(ins_1)
	&.btn_weapon
		.btn__inn
			span
				margin-top: 24px
				+s(eq_1)

.video
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0

.inner
	display: inline-block
	vertical-align: middle
	margin-right: 90px
	color: #FFF 
	.h1
		position: relative
		margin-bottom: 45px
		z-index: 3
	.inner__item
		position: relative
		width: 240px
		z-index: 3
		.p
			margin-bottom: 25px
			a
				color: #9F937B 
	.inner__character
		position: absolute
	.inner__caption
		position: absolute
		color: rgba(#FFF, 0.5)
		font-size: 12px
		font-style: italic
		line-height: 1.5
		p
			display: block
		span
			display: block
			text-align: right
	+r(1080)
		margin-right: 40px
		
.main
	.main__text
		p
			display: block
			font-size: 18px
			line-height: 1.6
				
.instance
	.instance__inn
		position: relative
		+clr
		.inner__character
			top: -25px
			right: 115px
			z-index: 1
		.inner__caption
			bottom: 230px
			right: -75px
	+r(1030)
		.instance__inn
			.inner__character
				top: -81px
				right: 95px
			.inner__caption
				bottom: 170px

.weapon
	.weapon__inn
		position: relative
		.inner__item
			display: inline-block
			vertical-align: top
			margin-right: 60px
		.inner__character
			top: -29px
			right: -160px
		.inner__caption
			bottom: 170px
			left: -150px
	+r(1030)
		.weapon__inn
			.inner__item
				margin-right: 20px
		



